.footer__icon {
    background-color: #AA221D;
    height: 43px;
    width: 43px;
    border-radius: 50%;
}

.card__body {
    height: 270px;
    width: 100%;
    background-color: #F7F7F7;
}

.card__body:hover {
    cursor: pointer;
    background: linear-gradient(180.44deg, #DFDFDF -9.13%, #BCBABA 145.96%);
    box-shadow: 0px 19px 54px rgba(0, 0, 0, 0.06);
}
.card__img{
    height: 100px;

}

.Chip{
    background-color: #AA221D;
    border-radius: 35px;
    width: 70%;
}
.card__chip {
    background-color: #9E9D9D;
    border-radius: 35px;
    width: 57%;
    color: #F7F7F7;
}

.enlaces{
    position: fixed;
    display: flex;
    top: 0;
    background: black;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    left: 0;
    flex-direction: column;
    width: 100%;
    transition: all 1s ease;  
    background: linear-gradient(180deg, rgba(67, 15, 13, 0.96) -17.73%, rgba(170, 34, 29, 0.96) 146.46%);
}

.uno{
    clip-path: circle(0% at 0 0);
    -webkit-clip-path: circle(0% at 0 0);
}

.dos{
    clip-path: circle(141.9% at 0 0);
    -webkit-clip-path: circle(141.9% at 0 0);
}

.form__Part {
    background: rgba(196, 196, 196, 0.1);
    border-radius: 30px;
    width: 100%;
}

.form__step {
    border-radius: 30px;
}

@media  only screen and (max-width: 685px){
    .footer__instagram{
        margin-top: -5px;
        margin-left: 0px;
    }

    .footer__copy{
        text-align: center;
        font-size: 12px;
    }
    .footer__term{
        text-align: center;
        font-size: 12px;
    }
    .card__img {
        height: 80px;
        width: 180px;
    }
    .card__chip {
        width: 80%;
    }
}

    

@media only screen and (min-width: 300px){
    .footer__instagram{
        margin-top: -5px;
        margin-left: -27px;
    }
    .footer__copy{
        text-align: center;
        font-size: 12px;
    }
    .footer__term{
        text-align: center;
        font-size: 12px;
    }
    .card__img {
        height: 80px;
        width: 200px;
    }
    .card__chip {
        width: 80%;
    }
}

@media only screen and (min-width: 1200px){
    .footer__instagram{
        margin-top: -5px;
        margin-left: -60px;
    }
    
    .footer__copy{
        text-align: left;
        font-size: 12px;
    }
    .footer__term{
        text-align: right;
        font-size: 12px;
    }
    
}

@media only screen and (max-width: 280px){
    .footer__instagram{
        margin-top: -5px;
        margin-left: -10px;
    }
    
    .footer__copy{
        text-align: center;
        font-size: 12px;
    }
    .footer__term{
        text-align: center;
        font-size: 12px;
    }
}
