.App {
  background-color: #E5E5E5;
  min-height: 100vh;
}

.App-header__logo {
  height: 92px;
  width: 345px;
  pointer-events: none;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.08);  
}

.App-header {
  text-align: center;
}


@media only screen and (max-width: 360px){
  .App-header__logo {
    height: 60px;
    width:  188px;
    pointer-events: none;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.08);  
  }
}

@media only screen and (max-width: 280px){
  .App-header__logo {
    height: 45px;
    width: 168px;
    pointer-events: none;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.08);  
  }
}